<!-- <button type="button" class="btn button"><a routerLink="/login1" routerLinkActive="active" >Login</a></button><br>
<button type="button" class="btn button"><a routerLink="/register1" routerLinkActive="active">Register</a></button> -->
<nav class="navbar  navbar-expand-sm" role="navigation">
    <div style="padding-left:10px ;" class="navbar-brand">CAHT BOOK</div>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
       <span class="fa fa-bars"></span>
     </button>
   <div class="collapse navbar-collapse" id="navbarMenu">  
   <ul class="navbar-nav  ml-auto">
    <button type="button" class="btn button"><a routerLink="/login1" routerLinkActive="active" >Login</a></button>
    <button type="button" class="btn button"><a routerLink="/register1" routerLinkActive="active">Register</a></button>
   </ul>
   </div>
</nav>
<img src="../../assets/chat1.jpg" height="500px" width="1200px" >
